<div class="container">
  <h1>All our flats (<%= @flats.count %>)</h1>

  <div class="row">
      <% @flats.each do |flat| %>
        <div class="col-4 bg-light bg-gradient p-3">
          <h3><%= flat.name %></h3>
          <p><%= flat.address %></p>
          <p><span><i class="fa-solid fa-user"></i><%= flat.number_of_guests %>  <i class="fa-solid fa-euro-sign"></i>  <%= flat.price_per_night %></span></p>
          <%= link_to "more info", flat_path(flat) %>
        </div>
      <% end %>
  </div>
</div>
